@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap");
/* font-family: 'Kanit', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Estilos generales*/
a {
  text-decoration: none;
  color: black; }

ul {
  list-style: none;
  padding-left: 0px; }

main {
  min-height: 90vh; }

/*Estilos Header*/
header {
  margin: 0;
  background-color: #FF0000;
  display: flex;
  justify-content: center; }
  header .logo {
    height: 50px;
    margin: -10px 0; }

/*Estilos Footer*/
footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: #FF0000;
  font-weight: 700;
  color: white;
  padding: 15px; }
  footer p {
    margin: 0; }

.buttonsContainer {
  display: none; }
  .buttonsContainer .orderTitle {
    text-align: center; }
    .buttonsContainer .orderTitle p {
      margin-top: 20px;
      font-size: 1.1em;
      font-weight: 500;
      font-family: 'Kanit', sans-serif; }
  .buttonsContainer .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px; }
    .buttonsContainer .buttons .form {
      align-items: center; }
      .buttonsContainer .buttons .form #searchBar {
        width: 200px;
        margin: 5px 10px;
        padding: 0px 5px;
        border-radius: 5px;
        border: 2px solid #ff0000; }
        .buttonsContainer .buttons .form #searchBar:focus {
          outline: none; }
      .buttonsContainer .buttons .form .searchBtn {
        background-color: #ff0000;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        padding: 2px 10px;
        position: absolute;
        margin-left: 173px;
        color: white;
        cursor: pointer; }
        .buttonsContainer .buttons .form .searchBtn:hover {
          color: yellow; }
        .buttonsContainer .buttons .form .searchBtn::placeholder {
          color: #ff0000; }
    .buttonsContainer .buttons .pokedexButton {
      width: 200px;
      margin: 5px 10px;
      background-color: #FF0000;
      color: white;
      border: none;
      border-radius: 5px;
      font-family: 'Roboto', sans-serif; }
      .buttonsContainer .buttons .pokedexButton:hover {
        color: yellow; }

#title {
  margin-top: 20px;
  text-align: center;
  font-size: 1.3rem;
  background-color: #FF0000;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

.pokemonCards {
  display: grid;
  grid-template-columns: repeat(1, 1fr); }
  @media (min-width: 728px) {
    .pokemonCards {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 1024px) {
    .pokemonCards {
      grid-template-columns: repeat(3, 1fr); } }
  @media (min-width: 1440px) {
    .pokemonCards {
      grid-template-columns: repeat(4, 1fr); } }
  @media (min-width: 1650px) {
    .pokemonCards {
      grid-template-columns: repeat(6, 1fr); } }
  .pokemonCards .card {
    width: 100%;
    margin: 25px auto;
    margin-bottom: 0px;
    text-align: center;
    max-height: 700px;
    border: none; }
    @media (min-width: 728px) {
      .pokemonCards .card {
        width: 270px; } }
    .pokemonCards .card .cardImgContainer {
      border-radius: 50%;
      width: 85%;
      margin: auto; }
      .pokemonCards .card .cardImgContainer .cardImg {
        min-width: 200px;
        width: 100%; }
    .pokemonCards .card .textBox {
      font-family: 'Kanit', sans-serif; }
      .pokemonCards .card .textBox .pokemonNumber {
        font-size: 1rem;
        margin-bottom: 0;
        font-weight: 500; }
      .pokemonCards .card .textBox .pokemonName {
        color: black;
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 0; }
    .pokemonCards .card .addTeam, .pokemonCards .card .deleteTeam, .pokemonCards .card .details {
      margin: 5px auto;
      width: 90%;
      color: white;
      font-family: 'Roboto', sans-serif;
      border-radius: 10px;
      transition: all 0.5s ease;
      margin-bottom: 0; }
      .pokemonCards .card .addTeam:hover, .pokemonCards .card .deleteTeam:hover, .pokemonCards .card .details:hover {
        background-color: #2a75bb; }
    .pokemonCards .card .addTeam {
      background-color: #0c950c; }
    .pokemonCards .card .deleteTeam {
      background-color: #FF0000; }
    .pokemonCards .card .details {
      background-color: #2f4a88; }

.btnUp {
  width: 50px;
  height: 50px;
  background-color: #FF0000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 10px;
  border: 2px white solid;
  display: none; }

#loader {
  display: flex;
  justify-content: center; }
  #loader .spinner-border {
    margin-top: 40vh;
    width: 3em;
    height: 3em; }

/* Types Colors */
.bug {
  background-color: #bfc901; }

.dark {
  background-color: #a9a9a9; }

.dragon {
  background-color: #4193a4; }

.electric {
  background-color: #eed535; }

.fairy {
  background-color: #fdb9e9; }

.fighting {
  background-color: #ff5d5d; }

.fire {
  background-color: #fd7d24; }

.flying {
  background-color: #97b3e6; }

.ghost {
  background-color: #7b62a3; }

.grass {
  background-color: #9bcc50; }

.ground {
  background-color: #caac4d; }

.ice {
  background-color: #51c4e7; }

.normal {
  background-color: #ddccaa; }

.poison {
  background-color: #b97fc9; }

.psychic {
  background-color: #f366b9; }

.rock {
  background-color: #a38c21; }

.steel {
  background-color: #9eb7b8; }

.water {
  background-color: #4592c4; }

/*Modal*/
.modal-body {
  font-family: 'Kanit', sans-serif; }
  .modal-body .modalTitle {
    display: flex;
    justify-content: center; }
    .modal-body .modalTitle .modalTitleName {
      font-size: 2em; }
      .modal-body .modalTitle .modalTitleName .modalTitleId {
        margin-left: 10px;
        color: #616161; }
  .modal-body .modalContent {
    display: flex;
    flex-direction: column; }
    @media (min-width: 769px) {
      .modal-body .modalContent {
        flex-direction: row; } }
    .modal-body .modalContent .modalContentLeft, .modal-body .modalContent .modalContentRight {
      width: 90%;
      margin: auto; }
      @media (min-width: 769px) {
        .modal-body .modalContent .modalContentLeft, .modal-body .modalContent .modalContentRight {
          width: 50%; } }
    .modal-body .modalContent .modalContentLeft {
      text-align: center; }
      .modal-body .modalContent .modalContentLeft .modalImg {
        max-width: 100%; }
      .modal-body .modalContent .modalContentLeft .pokemonType, .modal-body .modalContent .modalContentLeft .pokemonAbility {
        margin: 0px 10px; }
      .modal-body .modalContent .modalContentLeft .pokemonType {
        border-radius: 5px;
        padding: 0px 20px; }
    .modal-body .modalContent .modalContentRight .dataContainer {
      margin-top: 20px; }
    .modal-body .modalContent .modalContentRight .statsContainer .progress {
      background-color: silver; }
    .modal-body .modalContent .modalContentRight .statsContainer p {
      margin: 0px;
      margin-top: 20px; }
