@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap');
/* font-family: 'Kanit', sans-serif; */

/*Estilos generales*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #0c950c; 
}
  
ul {
    list-style: none;
    padding-left: 0px; 
}

main{
    min-height: 90vh;
}

/*Estilos Header*/

header{
    margin: 0;
    background-color: #FF0000;
    display: flex;
    justify-content: center;
}

.darkModeDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navbar-brand img{
    height: 50px;
    margin: -10px 0;
}

/*Estilos Main*/

#tittle{
    margin-top: 20px;
    text-align: center;
    font-size: 1.3rem;
    background-color: #FF0000;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.pokemonCards{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}@media(min-width: 728px) {
    .pokemonCards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}  @media(min-width: 1440px) {
    .pokemonCards{
        display: grid;
        grid-template-columns: repeat(6,1fr);
    }
}  

.order{
    text-align: center;
}

.order p{
    margin-top: 20px;
    font-weight: 700;
}

#searchBar{
    width: 200px;
    margin: 5px 10px;
    padding: 0px 5px;
    border-radius: 5px;
}

.buttons{
    display: flex;
    justify-content: center;
}

.button{
    width: 200px;
    margin: 5px 10px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.button:hover{
    color: yellow;
}

.row{
    margin: 0;
    padding: 0;
}

.card{
    width: 200px;
    margin: 1rem auto;
    text-align: center;
    max-height: 700px;
    border: none;
}

.card img{
    min-width: 200px;
    width: 100%;
}

.pokemonNumber{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0;
}

.card h3{
    color: black;
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

.types{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pokemonType{
    font-size: 1rem;
    background-color: black;
    color: black;
    border-radius: 5px;
    padding: 0px 20px;
    margin-bottom: 0;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

.addTeam{
    margin: 10px auto;
    width: 100%;
    background-color: #0c950c;
    color: white;
    border: 1px solid #9d9d9d;
    border-radius: 10px;
    font-weight: 400;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s ease;
}

.addTeam:hover{
    background-color: #2a75bb;
    color: white;
}

.deleteTeam{
    margin: 10px auto;
    width: 100%;
    background-color: #FF0000;
    color: white;
    border: 1px solid #9d9d9d;
    border-radius: 10px;
    font-weight: 400;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s ease;
}

.deleteTeam:hover{
    background-color: #2a75bb;
    color: white;
}


/*Estilos Footer*/

footer{
    margin: 0%;
    display: flex;
    justify-content: center;
    background-color: #FF0000;
    font-weight: 700;
    color: white;
    padding: 15px;
}

footer p{
    margin: 0;
}
