.order{
    text-align: center;
    p{
        margin-top: 20px;
        font-weight: 700;
        font-family: 'Kanit', sans-serif;
    }
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    #searchBar{
        width: 200px;
        margin: 5px 10px;
        padding: 0px 5px;
        border-radius: 5px;
    }
    .pokedexButton{
        width: 200px;
        margin: 5px 10px;
        background-color: #FF0000;
        color: white;
        border: none;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        &:hover{
            color: yellow;
        }
    }
}
#title{
    margin-top: 20px;
    text-align: center;
    font-size: 1.3rem;
    background-color: #FF0000;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.pokemonCards{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    @media(min-width: 728px) {
        grid-template-columns: repeat(3,1fr);
    }
    @media(min-width: 1024px) {
        grid-template-columns: repeat(4,1fr);
    }
    @media(min-width: 1490px) {
        grid-template-columns: repeat(6,1fr);
    }
    .card{
        width: 100%;
        margin: 25px auto;
        margin-bottom: 0px;
        text-align: center;
        max-height: 700px;
        border: none;
        @media(min-width: 728px) {
            width: 270px;
        }
        .cardImgContainer{
            border-radius: 50%;
            width: 94%;
            margin: auto;
            .cardImg{
                min-width: 200px;
                width: 100%;
            }
        }
        .textBox{
            font-family: 'Kanit', sans-serif;
            .pokemonNumber{
                font-size: 1rem;
                margin-bottom: 0;
                font-weight: 500;
            }
            .pokemonName{
                color: black;
                font-size: 2rem;
                font-weight: 400;
                margin-bottom: 0;
            }
        }
        .addTeam, .deleteTeam, .details{
            margin: 5px auto;
            width: 90%;
            color: white;
            font-family: 'Roboto', sans-serif;
            border-radius: 10px;
            transition: all 0.5s ease;
            margin-bottom: 0;
            &:hover{
                background-color: #2a75bb;
            }
        }
        .addTeam{
            background-color: #0c950c;
        }
        .deleteTeam{
            background-color: #FF0000;
        }
        .details{
            background-color: #2f4a88;
        }
    }
}
